renovate:
  config: |
    {
      "platform": "github",
      "repositories": ["my-org/my-repo"]
    }

cronjob:
  schedule: "0 * * * *"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
